<form class="example-form form">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Name:</mat-label>
        <input matInput [(ngModel)]="contact.name" name="name" placeholder="Name">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>E-mail:</mat-label>
        <input matInput [(ngModel)]="contact.email" name="email" placeholder="E-mail">
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="enviar()">{{textButton}}</button>
</form>
